## Force WWW
  RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
  RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  # o también
  RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

## Force SSL
  RewriteCond %{HTTPS} !=on
  RewriteRule ^https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

## Si obtenemos error 401 al Forzar el SSL podemos probar con
  RewriteCond %{HTTPS} !on
  RewriteCond %{THE_REQUEST} ^(GET|HEAD)\ ([^\ ]+)
  RewriteRule (.*) https://%{HTTP_HOST}%2 [L,R=301]

## Si queremos excluir la redirección a HTTPS en nuestro entorno local de desarrollo:
  RewriteCond %{HTTP_HOST} !^nuestro.site.local$
  RewriteCond %{HTTPS} !on
  RewriteCond %{THE_REQUEST} ^(GET|HEAD)\ ([^\ ]+)
  RewriteRule (.*) https://%{HTTP_HOST}%2 [L,R=301]